<%- include('../../partials/header'); %>
    <div class="container-fluid">
        <%- include('../../partials/navbar'); %>
            <div class="container">
                <!-- Button Tambah Data -->
                <div class="d-flex justify-content-between mt-3">

                    <h2>Detail Room <%= room.r_name %>
                    </h2>

                </div>

                <table class="table mt-4">
                    <tr>
                        <th>Nama Ruangan</th>
                        <td>
                            <%= room.r_name %>
                        </td>
                    </tr>
                    <tr>
                        <th>Tipe</th>
                        <td>
                            <%= room.r_type %>
                        </td>
                    </tr>
                    <tr>
                        <th>Kapasitas</th>
                        <td>
                            <%= room.r_capacity %>
                        </td>
                    </tr>
                    <tr>
                        <th>Harga</th>
                        <td>
                            <%= room.r_price.toLocaleString('id-ID', { style: 'currency' , currency: 'IDR'
                                }).replace('IDR', '' ).trim() %>
                        </td>
                    </tr>
                    <tr>
                        <th>Deskripsi</th>
                        <td>
                            <%= room.r_description %>
                        </td>
                    </tr>
                </table>


                <div class="container-fluid">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
                    <a href="/data-ruangan" class="btn btn-secondary">Kembali</a>
                </div>


                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit data data <%= room.r_name %></h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/data-ruangan/update/<%= room.room_id %>" method="POST">
                                    <div class="mb-3">
                                        <label for="roomName" class="form-label">Room Name</label>
                                        <input type="text" class="form-control" id="roomName" name="r_name"
                                            value="<%= room.r_name %>">
                                    </div>
                                    <div class="mb-3">
                                        <label for="roomType" class="form-label">Room Type</label>
                                        <input type="text" class="form-control" id="roomType" name="r_type"
                                            value="<%= room.r_type %>">
                                    </div>
                                    <div class="mb-3">
                                        <label for="roomCapacity" class="form-label">Room Capacity</label>
                                        <input type="number" class="form-control" id="roomCapacity" name="r_capacity"
                                            value="<%= room.r_capacity %>">
                                    </div>
                                    <div class="mb-3">
                                        <label for="roomPrice" class="form-label">Room Price</label>
                                        <input type="number" class="form-control" id="roomPrice" name="r_price"
                                            value="<%= room.r_price %>">
                                    </div>
                                    <div class="mb-3">
                                        <label for="roomDescription" class="form-label">Room Description</label>
                                        <textarea class="form-control" id="roomDescription" rows="3"
                                            name="r_description"><%= room.r_description %></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../../partials/footer'); %>